.job-list-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

.job-list-description {
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.font-8 {
    font-size: 8px !important; }

.font-10 {
    font-size: 10px !important; }

.font-11 {
    font-size: 11px !important; }

.font-12 {
    font-size: 12px !important; }

.font-13 {
    font-size: 13px !important; }

.font-16 {
    font-size: 16px !important; }

.font-18 {
    font-size: 18px !important; }

.m-r-0 {
    margin-right: 0px !important;
}

.m-l-0 {
    margin-left: 0px !important;
}

@media only screen and (max-width: 500px) {
    .job-list-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
    .job-list-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}